<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1620/270/image/86a88d719369791d.jpeg?q=20" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1620/270/image/acebf5b6f22804df.jpeg?q=20" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1620/270/image/957b83213656304b.jpg?q=20" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1620/270/image/fba4414a57f501b8.jpeg?q=20" class="d-block w-100"
                alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>