<div class="body border p-1 mt-2">
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-users></app-users> -->
  <!-- <app-products></app-products> -->
  <!-- <app-demo></app-demo> -->
  <!-- <app-employee-crud></app-employee-crud> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-categories></app-categories> -->
  <!-- <app-my-model>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
          <td>data-5</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
          <td>data-5</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
          <td>data-5</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
          <td>data-5</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
          <td>data-5</td>
        </tr>
      </tbody>
    </table>
  </app-my-model> -->
  <!-- <app-my-model>
    <img
      src="https://images.seeklogo.com/logo-png/50/2/angular-icon-logo-png_seeklogo-507324.png"
      alt=" "
    />
    <h2>Angular Logo</h2>
  </app-my-model> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-parent-employee></app-parent-employee> -->
  <!-- <app-math1></app-math1>
  <app-math2></app-math2> -->
  <app-employee></app-employee>
</div>
