<h3 class="text-center">Let's learn template forms</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-4 border border-5 p-3 m-3 rounded-2">
      <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
        <p>
          Name:
          <input
            class="form-control"
            #name="ngModel"
            name="name"
            [(ngModel)]="user.name"
            required
            minlength="5"
          />
          <span class="text-danger" *ngIf="name.hasError('required')">
            Name is required</span
          >
          <span class="text-danger" *ngIf="name.hasError('minlength')">
            Name should have min 5 characters required</span
          >
        </p>
        <p>
          Email:
          <input
            class="form-control"
            name="email"
            [(ngModel)]="user.email"
            required
          />
        </p>
        <p>
          Gender:
          <input
            type="radio"
            name="gender"
            id="male"
            value="male"
            [(ngModel)]="user.gender"
          />
          <label for="male">Male</label>
          <input
            type="radio"
            name="gender"
            id="female"
            value="female"
            [(ngModel)]="user.gender"
          />
          <label for="female">Female</label>
        </p>

        <div ngModelGroup="address" #address="ngModelGroup">
          <p>
            Street:
            <input
              class="form-control"
              name="street"
              [(ngModel)]="user.address.street"
            />
          </p>
          <p>
            City:
            <input
              class="form-control"
              name="city"
              [(ngModel)]="user.address.city"
            />
          </p>
          <p>
            Pincode:
            <input
              class="form-control"
              name="pincode"
              [(ngModel)]="user.address.pincode"
            />
          </p>
        </div>

        <input type="reset" value="Reset" class="btn btn-danger mx-3" />
        <input
          type="submit"
          value="Submit"
          class="btn btn-success"
          [disabled]="userForm.invalid"
        />
      </form>

      <div class="mt-5">
        Form Data:
        <pre>{{ userForm.value | json }}</pre>
      </div>
    </div>
  </div>
</div>
