<div class="container">
    <div class="row">
        <div class = "col">
            <div class="category text-center">
                <img src = "https://rukminim2.flixcart.com/fk-p-flap/96/96/image/75ac28a1e9192898.png?q=100" alt = " ">
                <div>Top Offers</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cd6aca4f61e8ea95.png?q=100" alt=" ">
                <div>Mobiles & Tablets</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/9c64dfa667885ca9.png?q=100" alt=" ">
                <div> Tvs & Appliances</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/4d6b13d5a0e0724a.png?q=100" alt=" ">
                <div>Electronics</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/ec2982e5564fe07c.png?q=100" alt=" ">
                <div> Fashion </div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/8aa98ff80927c17b.png?q=100" alt=" ">
                <div> Beauty & Food </div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/febcb9896245caf4.png?q=100" alt=" ">
                <div> Home & Kitchen </div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cddd92e134ba3ea9.png?q=100" alt=" ">
                <div>Furniture</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/d9eea6cd0e7b68bb.png?q=100" alt=" ">
                <div>Flight & Bookings </div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/2ebb95ec20eae8f1.png?q=100" alt=" ">
                <div>Grocery</div>
            </div>
        </div>

             
            
        </div>
</div>
