
table,
th,
td {
    border: 1px solid black;
}

div input{
   margin-left: 10px;
}

div div input {
    margin-top: 10px;
}

div button{
    margin-top: 7px;
    color: red;
    margin-left: 5px;;
    
}
div img{
    margin-right: 5px;
    
}
