<div class="text-center p-4 bg-dark text-white mb-4">
  <h3>User Management</h3>
</div>

@if (isLoading) {
<div class="d-flex justify-content-center my-4">
  <img
    src="https://i.etsystatic.com/16237790/r/il/591da5/5840470695/il_fullxfull.5840470695_gwx4.jpg"
    alt="Loading..."
    style="width: 50px; height: 50px"
    class="spinner-border"
  />
</div>
} @else {
<div class="container mb-5" style="max-width: 450px">
  <form
    (ngSubmit)="editMode ? updateUser() : addUser()"
    #userForm="ngForm"
    class="d-flex flex-column gap-3"
  >
    <input
      type="text"
      [(ngModel)]="newUsers.userId"
      name="userId"
      placeholder="User ID"
      required
      class="form-control"
    />
    <input
      type="text"
      [(ngModel)]="newUsers.userName"
      name="userName"
      placeholder="Username"
      required
      class="form-control"
    />
    <input
      type="number"
      [(ngModel)]="newUsers.age"
      name="age"
      placeholder="Age"
      required
      class="form-control"
    />
    <input
      type="email"
      [(ngModel)]="newUsers.email"
      name="email"
      placeholder="Email"
      required
      class="form-control"
    />
    <input
      type="text"
      [(ngModel)]="newUsers.phoneNumber"
      name="phoneNumber"
      placeholder="Phone Number"
      required
      class="form-control"
    />
    <button
      type="submit"
      class="btn btn-primary mt-2 d-flex align-items-center justify-content-center gap-2"
    >
      {{ editMode ? "Update" : "Add" }}
      <fa-icon [icon]="faCheck"></fa-icon>
    </button>
  </form>
</div>

<div class="container" style="max-width: 900px">
  <table class="table table-bordered table-striped shadow-sm">
    <thead class="table-dark">
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user.userId) {
      <tr>
        <td>{{ user.userId }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td class="text-center">
          <button
            (click)="editUser(user)"
            class="btn btn-sm btn-warning me-2"
            title="Edit User"
          >
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button
            (click)="deleteUser(user.id)"
            class="btn btn-sm btn-danger"
            title="Delete User"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
